

/**
CSS File contains all the styles
needed for the website

Created by Yohai Mizrhai & Eyal Delarea
 */
p{
  text-decoration: red;
}

.description {
    margin-top: 15px;
    margin-left: 10px;

}

.logo{
    width: 100px;
    height:70px;
}

.itemTitle {

}

.itemPrice {
    margin-top: 10px;
}

.itemDescription {
    margin-top: 10px;
}

.item_Photo {
    object-fit: cover;
}

.button {
    margin-top: 15px;

    margin-bottom: 5px;

}

.item {
    margin: 5px;
}

.a href {
    text-underline: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 25px 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;

}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

#table {
    background: grey;
}

.footer{
    background: black;
}

